[submodule "intro-spring-professional-learning-path"]
	path = intro-spring-professional-learning-path
	url = https://github.com/vinstonsalim/intro-spring-professional-learning-path.git
[submodule "building-rest-api-with-springboot"]
	path = building-rest-api-with-springboot
	url = https://github.com/vinstonsalim/building-rest-api-with-springboot.git
[submodule "spring-framework-essentials"]
	path = spring-framework-essentials
	url = https://github.com/vinstonsalim/spring-framework-essentials
